.contentForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.submit {
    width: 140px;
    height: 24px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: blanchedalmond;
    text-transform: capitalize;
}

.submit:hover {
    background-color: beige;
    cursor: pointer;
}

input {
    width: 200px;
    height: 24px;
    margin: 10px;
    background-color: white;
    border-radius: 12px;
    border: none;
    text-align: center;
}

.inputText input {
    /* display: none; */
    
}
