.contentForm {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.submit {
    width: 140px;
    height: 24px;
    border-radius: 10px;
    border: none;
    background-color: blanchedalmond;
    text-transform: capitalize;
}

.submit:hover {
    background-color: beige;
    cursor: pointer;
}

input {
    width: 200px;
    height: 24px;
    background-color: white !important;
    border-radius: 12px !important;
    border: none;
    text-align: center;
}